.SpecializeBoxes {
    background-color: rgb(0, 95, 105);
    text-align: center;
}

.box {
    background-color: rgb(204, 209, 209);
    margin: 10px;
    text-align: start;
}

.descriptionText {
    padding: 10px;
}

.headingText {
    color: white;
}