.virtualHours {
    padding: 10px;
    font-size: 1.3em;
}

#arrangeAppointmentSection {
    background-color: rgb(218, 214, 214);
    margin: 5px;
    border-radius: 10px;
}

#videoIcon {
    background-color: rgb(0, 95, 105);
    padding-top: 20px;
    border-radius: 10px 0 0 10px;
}

#firstSection {
    outline: black solid 1px;
    border-radius: 10px;
}

.hours {
    text-align: center;
}

.travelPlansForm {
    outline: black solid 1px;
    padding: 5px 0 5px 20px;
    border-radius: 10px;
}

.sub-text {
    color: rgb(94, 92, 92);
    font-size: 2px;
    padding-top: 0;
    margin-top: 0;
}

.horizontalLine {
    padding: 0;
    margin: 0;
}

#Disclaimer {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    margin: 5px;
    font-size: .7em;
    padding: 10px;
}

.msg {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    font-style: italic;
    width: 340px;
    padding: 3px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(5, 110, 5);
    background-color: #fff;
    border-radius: 5px;
    display: none;
  }
  
  .msgAppear {
    display: block;
  }