/* Font Family for all text on page */
* {
    font-family: Spectral;
}

/* Needed to keep footer at bottom */
.content-wrap{
    height: 100%;
}

/* Full App Section */
.App {
    overflow: hidden;
}

/* Links section */
li {
    padding-right: 20px;
    font-size: 20px;
    color: white;

}

/* =============================
    Full nav section 
================================ */
nav {
    padding: 10px 20px 0 10px;
    background-color: rgb(0, 95, 105);
}

/* Nav links */
nav a {
    color: white;
}

nav a:hover {
    color: gray;
}

/* Aeroura Travel home link*/
.homeLink {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* Main Dropdown Section*/
.dropdown {
    position: relative;
    top: 100%;
    left: 0;
    padding-right: 12px;
}

/* Menu with languages*/
#dropDownMenu {
    position: absolute;
    top: 100%;
    right: 10;
    z-index: 2;
    background-color: white;
    margin-right: 15%;    
}

/* Removes blue bur after dropdown button click */
.btn:focus {
    box-shadow: none !important;
}

