/* ===============================
    Virtual Hours Form section 
==================================*/
/* Full video hours section */
.virtualHours {
    padding: 10px;
    font-size: 1.3em;
    background-color: #f2f0e6;
}

/* Content in contact form */
#contactFormSection {
    background-color: white;
    border: 1px solid teal;
    border-radius: 10px;
}

/* Section with arrange appointment info */
#arrangeAppointmentSection {
    background-color: #f2f0e6;
    margin: 5px;
    border-radius: 10px;
}

/* Content in contact form */
#videoIconSection {
    background-color: rgb(0, 95, 105);
    padding: 30px 0 0 0;
    border-radius: 10px 0 0 10px;
}

/* Video icon */
#videoIcon {
    font-size: 50px;
}

/* Video icon div */
#videoAppointmentInfo {
    padding: 10px 15px 10px 20px;
}

/* Contact form submit button */
.submitButton {
    float: right;
    margin: 0 0 10px 0;
    width: 7rem;
    height: 3rem;
}

/* Disclaimer info text */
.sub-text {
    color: rgb(94, 92, 92);
    font-size: 2px;
    padding: 0 10px 10px 10px;
}

/* Contact form horizontal line */
.horizontalLine {
    padding: 0;
    margin: 0;
}

/* Disclaimer text */
#Disclaimer {
    background-color: #f2f0e6;
    border-radius: 10px;
    margin: 5px;
    font-size: .7em;
    padding: 10px;
}

/*====================================
Media quieries for large screens 
=====================================*/
@media screen and (max-width: 600px) {
    /*****Virtual Hours Info Section******/
    .virtualHoursInfo {
        padding: 10px 0;
    }

    .TitleText {
        font-size: 12px;
    }

    /* Arrange video appointment text */
    .videoAppointmentSpan{
        font-size: .75em;
    }

    /* Arrange video appointment sub text */
    #appointmentRequest p{
        font-size: 10px;
    }

    /* Div with Arrange video appointment text and sub text */
    #videoAppointmentInfo {
        padding: 2% 8%;
    }

    /* Div containing video icon */
    #videoIconSection {
        border-radius: 10px;
        padding: 10px 10px 10px 40%;
    }

    /* Video icon */
    #videoIcon {
        font-size: 50px;
    }

    /* Table with the dates and time info */
    table td {
        font-size: .9em;
    }
}

/*====================================
Media quieries for medium screens 
=====================================*/
@media screen and ( min-width: 601px) and ( max-width: 768px){
    /* Adjust the position of video icon */
    #videoIconSection {
        padding: 45px 0 0 20px;
        
    }

    /* Adjust the size of video icon */
    #videoIcon {
        font-size: 4.1rem;
    }
}

/*====================================
Media quieries for large screens 
=====================================*/
@media screen and ( min-width: 769px) and ( max-width: 1024px){
    /* Adjust height of form when on larger screens */
    .virtualHours {
        height: auto;
    }    

    /* Adjust the position of video icon */
    #videoIconSection {
        padding: 50px 0 0 15px;
    }
}


/*====================================
Media quieries for large screens 
=====================================*/
@media screen and ( min-width: 1440px) and (max-width: 2559px){
    /* Adjust height of form when on larger screens */
    .virtualHours {
        margin: 2.8% 10% 5% 10%;
    } 
    
    /* Adjust the position of video icon */
    #videoIconSection {
        padding: 45px 0 0 10px;
    }

    /* Adjust the size of video icon */
    #videoIcon {
        font-size: 4rem;
    }
}

/*====================================
Media quieries for extra large screens 
=====================================*/
@media screen and ( min-width: 2560px){
/* Adjust height of form when on extra large screens */
    .virtualHours {
        margin: 100px 100px 21.5% 100px;
        padding: 30px;
    } 

    /* Adjust the size and position of video icon */
    #videoIconSection {
        padding: 25px 0 0 45px;
    }
    
    /* Adjust the size of video icon */
    #videoIcon {
        font-size: 5rem;
    }
}