.PlacesToSee {
    background-color: rgb(209, 208, 208);
    padding: 0 0 5px 0;
}

.TravelCounselor {
    background-color: rgb(209, 208, 208);
    margin-top: 6%;
    width: 90%;
    position: absolute;
}

.Name {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.ContactInfo {
    position: relative;
    top: 30%;
    left: 30%;
}

.VirtualHours {
    background-color: rgb(209, 208, 208);
    margin-top: 6%;
    position: absolute;
}

.Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.joinButton {
    position: relative;
    left: 50%;
    top: 55%;
}