/* Footer Background */
.main-footer {
    color: white;
    background-color: rgb(0, 95, 105);
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  /* Specific icons*/
  .footer-icons {
    margin: 0 7px 0 7px;
    font-size: 3rem;
  }

/* Footer List Items */
  .footerList li {
    text-decoration: none;
    color: white;
    display: inline;
    float: left;
    font-size: 1.4em;
  }

  /* Footer Icons Col */
#footerIcons {
  margin: 0;
  padding: 0;
}

/* Footer Icons Div*/
.icons {
  margin-right: 0;
  padding-right: 0;
}

/* Icons Links */
.icons a {
  color:#eceeef;
}

/* Blur when hovering on links*/
.icons a:active,.icons a:focus,.icons a:hover
{
 color: #fff;
}

/*=========================
Section for mobile devices
===========================*/
@media only screen and (max-width: 425px){
  .main-footer {
    margin-top: 0;
  }
}