/* ===============================
    Landing Page Image section 
==================================*/
.landingPage {
    width: 100%;
    height: 60vh;
}

.landingPageBackground {
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: inherit;
}

/* Text positioning on Landing Page Image */
.text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 10rem;
    width: max-content;
}

/* Top Text on Landing Page Image */
.title {
    font-size: 50px;
    color: white;
    font-weight: bold;
}

/* Bottom Text on Landing Page Image */
.subTitle {
    font-size: 30px;
    color: white;
}

/* ===============================
    Side bar with icons 
==================================*/
#sidePanel {
    z-index: 2;
    position: fixed;
    top: 34.5%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(78, 77, 77, 0.7);
    border-radius: 0 5px 0 0;
    padding-right: 14px;
}

#sidePanel:hover {
    background-color: rgb(227, 227, 230);
    border-radius: 0 5px 0 0;
}

.iconBarActive {
    z-index: 2;
    position: fixed;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(78, 77, 77, 0.7);
    transition: cubic-bezier(0, .52, 0, 1) transform .3s ;
  }

  /* Style the icon bar links */
  .iconBarActive a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: rgb(0, 119, 255);
    z-index: initial;
  }

  .iconBarActive a:hover {
    background-color: #000;
  }

  /* Individual icons*/
  .facebook {
    font-size: 40px;
    background: transparent;
    color: #3B5998;
    
  }

  .twitter {
    font-size: 40px;
    background: #55ACEE;
    color: white;

  }

  .instagram {
    font-size: 40px;
    background: transparent;
    color: #DD2A7B;
  }

  .linkedin {
    font-size: 40px;
    background: transparent;
    color: #007bb5;
  }

/* ===============================
    Description boxes section 
==================================*/
.descriptionBoxes {
    padding: 0 50px 0 50px;
    background-color: rgb(0, 95, 105);
}

.PlacesToSee {
    background-color: #f2f0e6;
    margin: 40px 10px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
}

.PlacesToSee h4 {
    font-size: 2rem;
    padding-left: 10px;
}

/* Carousel Buttons */
.carousel-control-prev, .carousel-control-next {
    border: 0px white solid;
    background-color: transparent;
}

.slideTitle {
    padding-bottom: 30px;
}

/* ===============================
    Travel Counselor section 
==================================*/
#TravelCounselor {
    background-color: #f2f0e6;
    height: 350px;
    margin: 40px 10px;
    padding: 0;
    border-radius: 10px;
}

.ContactInfo {
    margin: 4%;
}

.ContactInfo h1{
    margin-bottom: 20px;
}

.ContactInfo p{
    font-size: 1.2rem;
}

#scheduleBtn {
    padding: 5px;
    float: right;
    margin-top: 90px;
}

/* ===============================
    Plan Your Trip Info section 
==================================*/
#PlanTrip {
    background-color: #f2f0e6;
    height: 350px;
    margin: 40px 10px;
    border-radius: 10px;
    padding: 0;
}

/* Plan Your Trip Information*/
.planYourTrip {
    padding: 10px 0 10px 10px;
    margin: 4%;
}

.planYourTrip p {
    font-size: 1.2rem;
}

.planYourTrip label {
    font-size: 1.2rem;
    padding: 5px;
}

.TitleIcon {
    margin-bottom: 20px;
}

.joinButton {
    padding: 15px;
    float: right;
    margin-top: 5px;
}

/* ===============================
    Travel Banner section 
==================================*/
.travelBanner {
    height: 80%;
    width: 100%;
    position: relative;
    background-color: #f2f0e6;
}

.travelBannerBackground {
    background-repeat: no-repeat;
    opacity: .6;
    width: 98%;
    transform: translate(1%, 5%);
    height: 35vh;
    overflow: hidden;
    margin-bottom: 3%;
    object-fit: cover;
}

.travelBannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 10rem;
    font-weight: bold;
    color: rgb(0, 95, 105);
    width: max-content;
}

/* ===============================
    Specialize boxes section 
==================================*/
.SpecializeBoxes {
    background-color: rgb(0, 95, 105);
    text-align: center;
    padding: 10px 50px 10px 50px;
    width: 100%;
}

.box {
    background-color: #f2f0e6;
    margin: 10px 5px;
    text-align: start;
    height: 90%;
}

.descriptionText {
    padding: 10px;
}

.headingText {
    color: white;
}



/* ===============================
    Scroll to Top Button
==================================*/
.scrollTop {
  position: absolute;
  bottom: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  margin-left: 50%;
  }
  
  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }

/* ===============================
Media quieries for small devices 
==================================*/
@media only screen and (max-width: 600px) {
    /* Landing Page Image section */
    .landingPage {
        background-size: 100% 50vh;
        width: 100%;
        height: 50vh;
    }

    /* Text positioning on Landing Page Image */
    .text {
        height: 50vh;
        padding-top: 35vh;
    }

    /* Top Text on Landing Page Image */
    .title {
        font-size: 30px;
        color: white;
        font-weight: bold;
    }

    /* Bottom Text on Landing Page Image */
    .subTitle {
        font-size: 20px;
        color: white;
    }

    /* Travel banner bottom padding on small devices*/
    .travelBanner {
        height: 100%;
        width: 100%;
        position: relative;
        padding-bottom: 20px;
    }

    .travelBannerBackground {
        background-repeat: no-repeat;
        opacity: .5;
        width: 98%;
        transform: translate(1%, 5%);
        height: 50vh;
        overflow: hidden;
        margin-bottom: 3%;
    }

    .travelBannerText {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: Verdana, Tahoma, sans-serif;
        color: rgb(0, 95, 105);
        padding: 0;
        margin: 0;
    }

    /*Travel counselor section*/
    #TravelCounselor {
        padding-right: 10px;
    }

    .nameHead {
        font-size: 1em;
    }

    .nameSub {
        font-size: .9em;
    }

    .ContactInfo {
        font-size: 70%;

    }

    #scheduleBtn {
        font-size: 10px;
    }

    /*****Virtual Hours Info Section******/
    .virtualHoursInfo {
        padding: 10px 0;
    }

    .TitleIcon {
        font-size: 16px;

    }

    .TitleText {
        font-size: 12px;
    }


    /***** Virtual Hours Form Section ******/
    #firstSection {
        margin-bottom: 10px;
        padding-bottom: 3px;
    }
    
    .videoAppointmentSpan{
        font-size: .75em;
        font-family:'Helvetica Neue', sans-serif;
    }

    #appointmentRequest p{
        font-size: 10px;
    }

    #videoAppointmentInfo {
        padding: 2% 8%;
    }

    #videoIconSection {
        border-radius: 10px;
        padding: 10px;
    }

    #videoIcon {
        font-size: 50px;
    }

    /* Table with the dates and time info */
    table td {
        font-size: .9em;
    }

}

/* ===============================
Media quieries for tablets/medium devices 
==================================*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .nameHead {
        font-size: 1.15em;
    }

    .nameSub {
        font-size: 1.15em;
    }
    /***** Virtual Hours Info Section ******/
    .TitleIcon {
        font-size: 1.15em;

    }

    /***** Virtual Hours Form Section ******/
    #videoIconSection {
        padding: 0px 12px 15px 15px;
    }

    #videoIcon {
        font-size: 80px;
    }

    .videoAppointmentSpan{
        font-size: .85em;
        font-family:'Helvetica Neue', sans-serif;
        font-weight: normal;
    }

    #appointmentRequest p{
        font-size: .65em;
    }

    /* Table with the dates and time info */
    table td {
        font-size: .7em;
    }

}

/* =======================================
Media quieries for computers/larger displays 
==================================*/
@media only screen and (min-width: 1024px) and (max-width:1440px) {
    #VirtualHours {
        transform:translate(1%, 0%);
    }

    /* Description Boxes */
    .descriptionBoxes {
        margin: 0 110px 0 90px;
    }

    /* Travel Banner */
    .travelBanner {
        margin: 0 80px 0 80px;
        width: auto;
    }

    /* Travel Banner Text*/
    .travelBannerText {
        font-size: 4.5em;
    }

    #videoIconSection {
        padding: 20px 10px 0 45px;
    }

    /* video icon in vitual hours form section*/
    #videoIcon {
        font-size: 90px;
    }

    /* Specialize Boxes */
    .SpecializeBoxes {
        margin: 0 85px 0 85px;
    }

    /* Vitual Hours Info Section */
    .virtualHours {
        margin: 0 80px 0 80px;
    }
}
/* ===============================
Media quieries for extra large displays  
==================================*/
@media only screen and (min-width: 1441px) {
    /* Description Boxes */
    .descriptionBoxes {
        margin: 0;
    }

    /* Travel Banner */
    .travelBanner {
        margin: 0;
        width: auto;
    }

    /* Specialize Boxes */
    .SpecializeBoxes {
        margin: 0;
    }
}