/* ===============================
    Landing Page Image section 
==================================*/
.landingPage {
    background-image: url('./Images/NYCsunrise.jpg');
    background-repeat: no-repeat;
    background-size: 100% 80vh;
    width: 100%;
    height: 80vh;
}

/* Text positioning on Landing Page Image */
.text {
    text-align: center;
    height: 80vh;
    padding-top: 55vh;
}

/* Top Text on Landing Page Image */
.title {
    font-size: 50px;
    color: white;
    font-weight: bold;
}

/* Bottom Text on Landing Page Image */
.subTitle {
    font-size: 30px;
    color: white;
}

/* ===============================
    Description boxes section 
==================================*/
.descriptionBoxes {
    margin: 0;
}

.PlacesToSee {
    background-color: rgb(209, 208, 208);
    padding-bottom: 1%;
    width: 100%;
    height: 87%;
}

/* Places to see Image*/
.slideShowImage {
    height: 90%;
    width: 100%;
}

/* ===============================
    Travel Counselor section 
==================================*/
#TravelCounselor {
    background-color: rgb(209, 208, 208);
    margin: 2% 0 2% 0;
    padding: 0;
    transform: translate(-.5em, 0em);
}

/* Josue Portrait Image*/
.josueImage {
    height: 100%;
    width: 50%;
}

/* Josue Portrait Image Information*/
.josuePortraitInfo {
    float: right;
    width: 49%;
    padding: 10px 0 0 10px;
}

.Name {
    text-align: center;
}

.ContactInfo {
    margin: 65% 0 0 10%;
}

#scheduleBtn {
    padding: 5px;
    margin: 10px;
}

/* ===============================
    Virtual Hours Info section 
==================================*/
#VirtualHours {
    background-color: rgb(209, 208, 208);
    margin: 2% 0 2% 0;
}

/* Josue Mountains Image */
.josueMountainsImage {
    height: 100%;
    width: 60%;
    transform: translate(-6.5%, 0%);
    object-fit: cover;
}

/* Virtual Hours Information*/
.virtualHoursInfo {
    float: right;
    width: 40%;
    padding: 10px 0 10px 10px;
}

.Title {
    text-align: center;
}

.joinButton {
    margin: 100% 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* ===============================
    Travel Banner section 
==================================*/
.travelBanner {
    height: 80%;
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}

.travelBannerBackground {
    background-repeat: no-repeat;
    opacity: .5;
    width: 98%;
    transform: translate(1%, 5%);
    height: 50vh;
    overflow: hidden;
    margin-bottom: 3%;
    object-fit: cover;
}

.travelBannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 100px;
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(0, 95, 105);
}

/* ===============================
    Specialize boxes section 
==================================*/
.SpecializeBoxes {
    background-color: rgb(0, 95, 105);
    text-align: center;
    padding-bottom: 10px;
}

.box {
    background-color: rgb(204, 209, 209);
    margin: 10px 5px;
    text-align: start;
    height: 90%;
}

.descriptionText {
    padding: 10px;
}

.headingText {
    color: white;
}

/* ===============================
    Virtual Hours Form section 
==================================*/
.virtualHours {
    padding: 10px;
    font-size: 1.3em;
}

#arrangeAppointmentSection {
    background-color: rgb(218, 214, 214);
    margin: 5px;
    border-radius: 10px;
}

#videoIconSection {
    background-color: rgb(0, 95, 105);
    padding-top: 30px;
    border-radius: 10px 0 0 10px;
}

#videoIcon {
    font-size: 50px;
}

#videoAppointmentInfo {
    padding: 10px 15px 10px 20px;
}

#firstSection {
    border: 1px solid black;
    border-radius: 10px;
}

#submitButton {
    float: right;
    margin: 10px;
}

.hours {
    text-align: center;
}

.travelPlansForm {
    border: black solid 1px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}

.sub-text {
    color: rgb(94, 92, 92);
    font-size: 2px;
    padding-top: 0;
    margin-top: 0;
}

.horizontalLine {
    padding: 0;
    margin: 0;
}

#Disclaimer {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
    margin: 5px;
    font-size: .7em;
    padding: 10px;
}

/* ===============================
Media quieries for small devices 
==================================*/
@media only screen and (max-width: 600px) {
    /* Landing Page Image section */
    .landingPage {
        background-size: 100% 50vh;
        width: 100%;
        height: 50vh;
    }

    /* Text positioning on Landing Page Image */
    .text {
        height: 50vh;
        padding-top: 35vh;
    }

    /* Top Text on Landing Page Image */
    .title {
        font-size: 30px;
        color: white;
        font-weight: bold;
    }

    /* Bottom Text on Landing Page Image */
    .subTitle {
        font-size: 20px;
        color: white;
    }

    /* Travel banner bottom padding on small devices*/
    .travelBanner {
        height: 100%;
        width: 100%;
        position: relative;
        padding-bottom: 20px;
    }

    .travelBannerBackground {
        background-repeat: no-repeat;
        opacity: .5;
        width: 98%;
        transform: translate(1%, 5%);
        height: 50vh;
        overflow: hidden;
        margin-bottom: 3%;
    }

    .travelBannerText {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: Verdana, Tahoma, sans-serif;
        color: rgb(0, 95, 105);
        padding: 0;
        margin: 0;
    }

    /*Travel counselor section*/
    #TravelCounselor {
        padding-right: 10px;
    }

    .nameHead {
        font-size: 1em;
    }

    .nameSub {
        font-size: .9em;
    }

    .ContactInfo {
        font-size: 70%;

    }

    #scheduleBtn {
        font-size: 10px;
    }

    /*****Virtual Hours Info Section******/
    .virtualHoursInfo {
        padding: 10px 0;
    }

    .TitleIcon {
        font-size: 16px;

    }

    .TitleText {
        font-size: 12px;
    }


    /***** Virtual Hours Form Section ******/
    #firstSection {
        margin-bottom: 10px;
        padding-bottom: 3px;
    }
    
    .videoAppointmentSpan{
        font-size: .75em;
        font-family:'Helvetica Neue', sans-serif;
    }

    #appointmentRequest p{
        font-size: 10px;
    }

    #videoAppointmentInfo {
        padding: 2% 8%;
    }

    #videoIconSection {
        border-radius: 10px;
        padding: 10px;
    }

    #videoIcon {
        font-size: 50px;
    }

    /* Table with the dates and time info */
    table td {
        font-size: .9em;
    }

}

/* ===============================
Media quieries for tablets/medium devices 
==================================*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .nameHead {
        font-size: 1.15em;
    }

    .nameSub {
        font-size: 1.15em;
    }
    /***** Virtual Hours Info Section ******/
    .TitleIcon {
        font-size: 1.15em;

    }

    /***** Virtual Hours Form Section ******/
    #videoIconSection {
        padding: 0px 12px 15px 15px;
    }

    #videoIcon {
        font-size: 80px;
    }

    .videoAppointmentSpan{
        font-size: .85em;
        font-family:'Helvetica Neue', sans-serif;
        font-weight: normal;
    }

    #appointmentRequest p{
        font-size: .65em;
    }

    /* Table with the dates and time info */
    table td {
        font-size: .7em;
    }

}

/* =======================================
Media quieries for computers/larger displays 
==================================*/
@media only screen and (min-width: 1024px) and (max-width:1440px) {
    #VirtualHours {
        transform:translate(1%, 0%);
    }
}

/* Travel Banner Text*/
.travelBannerText {
    font-size: 4.5em;
}

#videoIconSection {
    padding: 20px 10px 0 45px;
}

/* video icon in vitual hours form section*/
#videoIcon {
    font-size: 90px;
}

/* ===============================
Media quieries for extra large displays  
==================================*/
@media only screen and (min-width: 1441px) {
    #VirtualHours {
        transform: translate(2%, 0%);
    }
}