.landingPage {
    background-image: url('./Images/NYCsunrise.jpg');
    background-repeat: no-repeat;
    background-size: 100% 80vh;
    width: 100%;
    height: 80vh;
}

.text {
    display: flex;
    align-items: center;
    justify-content: bottom;
    flex-direction: column;
}

h1, h3 {
    color: #fff;
}