.travelBanner {
    background-image: url('./Images/NYCsunrise.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 50vh;
    margin: 10px;
}

.travelBannerText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    padding-top: 10%;
}